body{
    font-family: Arial, sans-serif;
    cursor:default;
    padding:0;
    margin:0;
    vertical-align: middle;
}
*::selection{
    background: none;
}
.optionbar{
    z-index: 99;/*above everything else to be always accessible*/
    position:fixed;
    text-align:left;
    width:100%;
}
.optionbar .toplist{
    /*
    -moz-box-shadow:    2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
    box-shadow:         2px 2px 2px #888;*/
    border-bottom: thin solid #888;
}
.optionbar ul {
    padding: 0;
    list-style:none;
    margin:0;
    background:#fff;
    color:#000;
    font-size: small;
}
.optionbar ul:before,.optionbar ul:after {
    content:"";
    display:table;
}
.optionbar ul:after {
    clear:both;
}
.optionbar .topitem {
    position:relative;
    display:inline-flex;
    width:100px;
}
.optionbar p {
    width:100%;
    margin:0;
    display:block;
    padding:10px 5px;
    color:#000;
}
.optionbar pButton {
    width:100%;
    margin:0;
    display:block;
    padding:10px 5px;
    color:#000;
}
.optionbar .pButton_inactive{
    width:100%;
    margin:0;
    display:block;
    padding:10px 5px;
    background:#bbb;
    color:#444;
}
.optionbar .title:hover {
    background:#2672EC;
}
.pButton:hover{
    background:#2672EC;
    cursor:pointer;
}

a {
    width:100%;
    margin:0;
    display:block;
    padding:10px 0px;
    color:#000;
    text-decoration:none;
}
a:hover {
    background:#2672EC;
}

.optionbar .sublist {
    min-width:100%;
    position:absolute;
    left:0;
    top:36px;
    z-index:1;

    -moz-box-shadow:    1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow:         1px 1px 1px #888;
}
.optionbar .subitem {
    min-width:100%;
    overflow:hidden;
    height: 38px;
    max-height:0;
    -webkit-transition:max-height 500ms ease;
    -moz-transition:max-height 500ms ease;
    -o-transition:max-height 500ms ease;
    transition:max-height 500ms ease;
}

.optionbar .topitem:hover .subitem {
    max-height:150px;
}

/* subitem-dynamic has variable height*/
.subitem-dynamic{
    min-width:100%;
    overflow:hidden;
    height: 100%;
    max-height:0;
    -webkit-transition:max-height 500ms ease;
    -moz-transition:max-height 500ms ease;
    -o-transition:max-height 500ms ease;
    transition:max-height 500ms ease;
}

.optionbar .topitem:hover .subitem-dynamic {
    max-height:250px;
}

.optionbar .topitem:hover .sublist {
    /*
    border: thin solid black;*/
}
.optionbar input[type="checkbox"]+label,input[type="radio"]+label{
    display: block;
    position: relative;
    float: left;
    top: 12px;
    left: 45px;
}
.optionbar input[type="checkbox"]+label:hover,input[type="radio"]+label:hover{
    cursor:pointer;
}
.optionbar input[type="file"]{
    margin:5px;
}
/* for custom images: down below*/
/*
input[type="checkbox"] + label:before{
    position: absolute;
    left: -36px;
    top: -7px;
    display: inline-block;
    content: url("graphics/checkbox_unchecked.png");
    cursor: pointer;
    color: #555;
}
input[type="checkbox"]:checked + label:before {
    content: url("graphics/checkbox_checked.png");
}
input[type="radio"] + label:before{
    position: absolute;
    left: -36px;
    top: -7px;
    display: inline-block;
    content: url("graphics/radiobutton_unchecked.png");
    cursor: pointer;
    color: #555;
}
input[type="radio"]:checked + label:before {
    content: url("graphics/radiobutton_checked.png");
}*/
input[type="date"]{
    float: left;
    margin-left:9px;
    margin-top:9px;
    width:90px;
}
input[type="date"]+label{
    position:relative;
    float:left;
    left:9px;
    top:13px;
}
input[type="number"]{
    float: left;
    margin-left:9px;
    width:60px;
}
input[type="number"]+label{
    position:relative;
    float:left;
    left:9px;
    top:2px;
}
input::selection{
    background:#2E8DEF;
}
select{
    position:relative;
    float:left;
    left:9px;
    top:9px;
    width:64px;
}
select+label{
    position:relative;
    float:left;
    left:17px;
    top:9px;
}
fieldset{
    border:none;
    margin:0;
    padding:0;
}

/*Fades the logo (now only the text "proteator" in and out again*/
.logo{
    z-index: -1;/*below everything else to prevent problems with overlay)*/
    opacity: 0;

    width:100%;
    height:200px;

    font-weight: bold;
    font-size:100px;

    text-align: center;

    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;

    -webkit-animation: fade 4.0s ease-in-out;
    animation: fade 4.0s ease-in-out;
}

@-webkit-keyframes fade {
    0%, 100% { -webkit-opacity: 0 }
    33% { -webkit-opacity: 1 }
    66% { -webkit-opacity: 1 }
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
        -webkit-opacity: 0;
    } 33% {
          opacity: 0;
          -webkit-opacity: 1;
      } 66% {  opacity: 0;  -webkit-opacity: 1;  }
}

.legendHolder{
    position:fixed;
    right:0;
    top:36px;
    width:200px;
    height:200px;
}

/** for indefinite loading;**/
.loading_holder{
    display:none;/*display only when loading*/
    position:fixed;
    width:2.5em;
    height:100px;
    bottom:0;
    left:0;
    right:0;
    top:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
}
@-moz-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }
    10% {
        background: #6b9dc8;
    }
    40% {
        background: #dde2e7;
    }
}
@-webkit-keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }
    10% {
        background: #6b9dc8;
    }
    40% {
        background: #dde2e7;
    }
}
@keyframes throbber-loader {
    0% {
        background: #dde2e7;
    }
    10% {
        background: #6b9dc8;
    }
    40% {
        background: #dde2e7;
    }
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
    -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
    animation: throbber-loader 2000ms 450ms infinite ease-out;
    background: #dde2e7;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 0.9em;
    height: 1.5em;
    margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
    position: absolute;
    top: 0;
}
.throbber-loader:not(:required):before {
    -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
    animation: throbber-loader 2000ms 300ms infinite ease-out;
    left: -1.6em;
}
.throbber-loader:not(:required):after {
    -moz-animation: throbber-loader 2000ms 600ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 600ms infinite ease-out;
    animation: throbber-loader 2000ms 600ms infinite ease-out;
    right: -1.6em;
}
.throbber-loader2:not(:required) {
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 0.9em;
    height: 1.5em;
    margin: 0 1.6em;
}
.throbber-loader2:not(:required):before, .throbber-loader2:not(:required):after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
    position: absolute;
    top: 0;
}
.throbber-loader2:not(:required):before {
    -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
    animation: throbber-loader 2000ms 150ms infinite ease-out;
    left: -3.2em;
    top: -1.5em;
}
.throbber-loader2:not(:required):after {
    -moz-animation: throbber-loader 2000ms 750ms infinite ease-out;
    -webkit-animation: throbber-loader 2000ms 750ms infinite ease-out;
    animation: throbber-loader 2000ms 750ms infinite ease-out;
    right: -3.2em;
    top: -1.5em;
}

/** for the loading bar that shows progress**/
.loadingbar{
    display:none;/*display only when loading*/
    position:fixed;
    width:400px;
    height:20px;
    bottom:0;
    left:0;
    right:0;
    top: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    background-color: #2672EC;
    border:thin solid black
}
.loadingbar p{
    position:relative;
    top:-15px;
    text-align: center;
}

.graphics{
    padding-top:20px;
    width:100%;
}

/*for the visualization*/
svg{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    width: 1000px;
}
.graphSvg{
    height:0;
}

.legendSvg{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
}

.proteinDiv{
    padding-bottom:30px;
    padding-top:30px;
}

.graphics a{
    padding:5px 0px;
    width:auto;
    display:inline;
    cursor:pointer;
    cursor:hand;
}

.dataContainer{
    display:none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #888;
}
.axis text {
    font-family: arial, sans-serif;
    fill: #888;
    font-size: 11px;
}
.tick line{
    opacity: 0.2;
}
#svgDiv{
    position:relative;
}
.axisLabel{
    font-family: arial, sans-serif;
    fill: #888;
    font-size: 14px;
}

.infoDiv{
    padding:0 5px;
    margin:0;
}

/* for the custom input */
.customInput_container{
    display:none;
    background:white;
    border: thin solid black;
    padding:0;
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    width:80%;
    height:80%;
    margin:auto;
}
.customInput_applyButton{
    position:absolute;
    left:10px;
    bottom:10px;
}
.customInput_cancelButton{
    position:absolute;
    right:10px;
    bottom:10px;
}

.customInput_container span{
    display:block;
}
.customInput_settings div{
    position:relative;
    display: inline-block;
}
.customInput_container .customInput_previewTable{
    display:block;
    height:300px;
    border-collapse:collapse;
}
.customInput_previewTable td {
    border: 1px solid black;
}
.customInput_container .customInput_previewTableBody{
    display:block;
    height: 100%;
    width:100%;
    overflow-y: auto;
    overflow-x: auto;
}

.customInput_container .customInput_fileTable{
    padding-top:0;
    paddin-bottom:0;
    margin-top:0;
    margin-bottom:0;
    display:block;
    border-collapse:collapse;
}
.customInput_container .customInput_fileTable td{
    padding:5px 10px 5px 10px;
}
/*for current selection:*/
.td_active{
    border:none;
}
.td_inactive{
    border-bottom: thin solid black;
    border-left: thin solid black;
    border-right: thin solid black;
}


::selection{
    background-color: #0af;
}
